.design-prod {
  position: relative;
  padding-top: 60px !important;
  h2 {
    @include font_h1($font-family, $clr_text, 700);
    text-align: center;
  }
  h4 {
    @include font_h2($font-family, $clr_text, 700);
    text-align: center;
  }
}
