.footer {
    h2 {
        @include font_h2($font-family, $clr_text, 700);
        text-align: center;
        margin-bottom: 60px;
        @media (max-width: $tabled) {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 30px;
        }
    }
    h3 {
        @include font_h3($font-family, $clr_text, 600);
        text-align: left;
        margin-bottom: 50px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @media (max-width: $tabled) {
            flex-direction: column;
        }
    }
    &-contact {
        display: flex;
        flex-direction: column;
        margin-right: 113px;
        @media (max-width: $tabled) {
            margin-right: 0;
            justify-content: center;
            align-items: center;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #242424;
        margin-bottom: 20px;
        svg {
            width: 25px;
            height: 25px;
            margin-right: 30px;
        }
    }
    button {
        margin-bottom: 44px;
    }
    &-social__list {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    &-social__item {
        margin-bottom: 20px;
        a {
            @include font_p1($font-family, $clr_text, 600);
            color: $clr_text;
            display: flex;
            align-items: center;
        }
        svg {
            width: 30px;
            height: 30px;
            margin-right: 20px;
        }
    }
    &__copyright {
        @include font_small($font-family, $clr_text, 900);
        text-align: center;

    }
}

.map {
    width: 100vw;
    max-width: 986px;
    height: 500px;
    background-color: #333;
}

[class*="copyrights-pane"] {
    display: none !important;
}
