.hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../../img/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $tabled) {
        height: 100vh;
        padding-top: 100px;
        padding-bottom: 50px;
        background-size: cover;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #ffffff, $alpha: 0.0);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    h1 {
        @include font_h1($font-family, $clr_text, 900);
        @media (max-width: $tabled) {
            max-width: none;
            line-height: 40px;
        }
    }
    h4 {
        @include font_h2($font-family, $clr_text, 700);
    }
    p {
        @include font_p1($font-family, $clr_text, 400);
        margin: 0 auto;
    }
    button {
        margin: 0 auto;
    }
}
