.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media(max-width: $tabled) {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background-size: cover;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #242424;
    @media(max-width: $tabled) {
      max-width: none;
      font-size: 30px;
      line-height: 40px;
    }
  }
  h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #242424;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    max-width: 294px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  button {
    margin: 0 auto;
  }
}
