.post {
  padding-top: 50px;
  padding-bottom: 50px;
  @media(max-width: $tabled) {
    padding-top: 0px;
    padding-bottom: 20px;
  }
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #242424;
  }
  h4 {
    padding-left: 40px;
    background-image: url(../../img/time.svg);
    background-position: center left;
    background-repeat: no-repeat;

  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px 0 -15px;
    @media(max-width: $tabled) {
    margin: 0;
    margin-bottom: 15px;
    }
    img {
        margin-left: 15px;
        margin-bottom: 15px;
        width: calc(33% - 15px);
        @media(max-width: $tabled) {
          width: 1000%;
          margin: 0;
          margin-bottom: 15px;
          }
    }
  }
}
