.realish {
  padding-top: 50px;
  padding-bottom: 50px;
  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @media (max-width: $tabled) {
      flex-direction: column-reverse;
    }
  }
  &__image {
    margin-right: 32px;
    flex-basis: 50%;
    @media (max-width: $tabled) {
      flex-basis: 100%;
      margin-right: 0;
      img {
        width: 100%;
      }
    }
  }
  &__text {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  h2 {
    @include font_h2($font-family, $clr_text, 700);
    margin: 0 auto;
    margin-bottom: 50px;
    @media (max-width: $tabled) {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 20px;
    }
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
  }
  ul {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
  }
  li {
    padding-left: 40px;
    background-image: url(../../img/check__svg.svg);
    background-position: center left;
    background-repeat: no-repeat;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  button {
    margin-top: auto;
    @media (max-width: $tabled) {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
