.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide > a > img {
    @media (max-width: 766px) {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: grab;

    @media (max-width: 766px) {
        // height:480px;
    }

    @media (max-width: 520px) {
        // height: 320px;
    }
}

.swiper-slide {
    position: relative;
    background-size: cover;
    background-position: center;
    max-height: 90vh;
    & > a {
        position: relative;
    }
    & .swiper-slide__description {
        position: absolute;
        opacity: 1;
        bottom: 0;
        left: 0;
        right: 0;
        // width: 100%;
        height: 40%;
        background-color: rgba($color: #000000, $alpha: 0.3);
        color: #fff;
        text-align: left;
        padding-left: 14px;
        transition: all 0.3s ease-in-out;

        & h3 {
            @include font_p1($font-family, $clr_text, 700);
        }
        & p {
            @include font_small($font-family, $clr_text, 700);
            margin: 5px;
        }

    }
    &:hover {
        & > .swiper-slide__description {
            opacity: 0;
            width: 0;
        }
    }
}

.mySwiper2 {
    width: 100%;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
    color: $clr_yellow2;
}

.fancybox__container {
    z-index: 100000010000 !important;
}

.tabs__nav {
    padding: 0;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 5px;
}
.tabs__nav-btn {
    border: none;
    cursor: pointer;
    transition: all .2s ease-in-out;
    white-space: nowrap;
    &:focus {
        background-color: $clr_yellow2;
    }
}
.tabs__nav-btn--active {
    background-color: $clr_yellow;
    border: 1px solid #fff;
}


@media(max-width: 1024px) {
    .tabs__nav {
        padding: 0;
        flex-wrap: wrap;
        overflow-x: auto;
        gap: 5px;
    }

    .tabs__nav-item  .btn-main {
        padding: 6px 20px;
    }
}


.swiper-slide__description {
    padding-top: 20px;

    & > h3 {
        @include font_h3($font-family, $clr_white, 700)
    }
    & > p {
        @include font_p1($font-family, $clr_white, 700);
    }
}
