<header class="header">
  <div class="container header-container">
    <div class="header__logo">
      <!-- <a href="#">
        <svg class="">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </a> -->
      Студия Современной Мебели
    </div>
    <div class="header-right__nav">
      <a href="#" class="header__phone">
        <svg class="svg-site">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </a>
      <a href="#" class="header__telegramm">
        <svg class="svg-site">
          <use xlink:href="img/sprite.svg#telegramm"></use>
        </svg>
      </a>
      <a href="tel:89172870154" class="header__number">8 (917) 287-01-54</a>
      <button  class="btn btn-main" data-custom-open="modal-contacts">Заказать звонок</button>
    </div>
  </div>
</header>
