<section class="design-prod">
    <div class="design-prod-container container">
        <h2>Наши <span class="mark">проекты</span></h2>
        <h4>Совершенство комфорта в вашем распоряжении</h4>
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;" class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    <div class="swiper-slide__description">
                        <h3>Заголовок описание</h3>
                        <p>Заголовок описание описания</p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    <div class="swiper-slide__description">
                        <h3>Заголовок описание</h3>
                        <p>Заголовок описание описания</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
                <div class="swiper-slide">
                    <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
            </div>

        </div>
    </div>
</section>
