.btn {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: block;
    transition: all 0.2s ease;
    border: none;
}

.btn-main {
    @include font_small($font-family, $clr_text, 600);
    text-align: center;
    color: #242424;
    padding: 12px 40px;
    background: #ffbf00;
    opacity: 1;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}
