
$font-family: 'Montserrat';
$mobile: 480px;
$mobilePre: 557px;
$tabled: 777px;
$desktop: 1024px;
$desktopFull: 1366px;


//цвета
$clr_yellow:#d7a100;
$clr_yellow2: #ffbf00;
$clr_white:#ffffff;
$clr_blue:#007aff;
$clr_black:#000000;
$clr_grey:#c2c2c2;
$clr_text:#242424;
