// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Muller", sans-serif;
  --content-width: 1920px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}

$mobile: 480px;
$mobilePre: 557px;
$tabled: 777px;
$desktop: 1024px;
$desktopFull: 1366px;
